h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: #00002e;
  }

  h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #00002e;
  }


  h3 {
    font-family:Arial, Helvetica, sans-serif;
    color: #00002e;
  }

  li {
    font-family:Arial, Helvetica, sans-serif;
    color: #00002e;
  }


  p {
    font-family:Arial, Helvetica, sans-serif;
    color: #00002e;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }